

<style>
    #dvScroll {
        max-height: 800px !important;
        overflow-y: auto !important;
        background: #e9ede6 !important;
    }

</style>
<div class="col-12">
<div class="container col-12" id = "dvScroll">
    
        @Html.Raw(ViewBag.Message)
       
</div>
</div>

